
:root {
  --color-main: #F5E33C;
  --color-black: #181818;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Future, 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-black);
}

/* ////////////////////////////////////////////////////////// */
/* common */
.text__h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}
.paragraph-message {
  line-height: 2.5;
  font-size: 1.6rem;
}
.button--main {
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  background: var(--color-main);
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 50rem;
  color: var(--color-black);
  text-transform: uppercase;
  box-shadow: 0 2rem 3rem rgba(0,0,0, 0.1);
}
.button--main::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--color-main);
  border-radius: 50rem;
  transition: all .5s;
}
.button--main:hover::after {
  transform: scale(1.5);
  opacity: 0;
}


.button--sub {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: none;
  color: currentColor;
}
.button--sub::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 3.5rem;
  margin-right: 1rem;
  background: currentColor;
  vertical-align: center;
  transform: translateY(-.5rem);
  transition: width .3s;
}
.button--sub:hover::before {
  width: 5rem;
}



/* ////////////////////////////////////////////////////////// */
/* HEADER */

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 6rem;
  position: fixed;
  background: white;
  width: 100vw;
  z-index: 2000;
  box-shadow:0 1rem 2rem rgba(0,0,0, 0.05);
}

.logo {
  height: 3.3rem;
}

.title-box {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

/* /////////menu//////////// */
.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2001;
}
.header__checkbox {
  position: absolute;
  top: -10rem;
  opacity: 0;
}
.header__button {
  display: flex;
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 3000;
  color: var(--color-black);
}
.header__humburger-box {
  width: 3rem;
  height: 2rem;
  position: relative;
}
.header__humburger {
  display: inline-block;
  width: 1.8rem;
  height: 1px;
  background: currentColor;
  position: absolute;
  top: 50%;
  right: 0;
}
.header__humburger::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 1px;
  background: currentColor;
  position: absolute;
  top: -.5rem;
  right: 0;
  transition: all .3s;
}
.header__humburger::after {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1px;
  background: currentColor;
  position: absolute;
  top: .5rem;
  right: 0;
  transition: all .3s;
}

.header__text {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4rem;
  padding-left: 1rem;
}
.header-menu__background {
  width: 100vw;
  height: 100vh;
  background: var(--color-black);
  position: fixed;
  left: 100%;
  transition: left .5s;
}
.header-menu__nav {
  z-index: 2000;
  position: fixed;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s;
  opacity: 0;
}
.header-menu__list {
  list-style: none;
  text-align: center;
}
.header-menu__item:not(:last-child) {
  margin-bottom: 2.5rem;
}
.header-menu__link {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3rem;
  transition: transform .2s;
  display: inline-block;
}
.header-menu__link:hover {
  color: var(--color-main);
  transform: scale(1.1);
}
.header__checkbox:checked ~ .header-menu__background {
  left: 0;
}
.header__checkbox:checked ~ .header-menu__nav {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
} 
.header__checkbox:checked + .header__button {
  color: white;
}
/* .header__checkbox:checked + .header__button .header__humburger-box .header__humburger {

} */
.header__checkbox:checked + .header__button .header__humburger-box .header__humburger {
  background: black;
}
.header__checkbox:checked + .header__button .header__humburger-box .header__humburger::before{
  transform: rotate(45deg);
  top: 0;
}
.header__checkbox:checked + .header__button .header__humburger-box .header__humburger::after{
  transform: rotate(-45deg);
  width: 2rem;
  top: 0;
}



.hero {
  background-image: url(../img/mv_bg.jpg);
  height: 55rem;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.text__h1 {
  text-align: center;
}
.text__h1--main {
  font-size: 7rem;
  display: block;
  text-transform: uppercase;
}
.text__h1--sub {
  font-size: 2rem;
}

.header-sns {
  height: 7rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-sns__box {
  margin: 0 auto;
}
.header__sns {
  padding: 0 1.5rem;
}

/* ////////////////////////////////////////////////////////// */
/* ABOUT */
.section-about {
  display: flex;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.about__text {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
}
.paragraph-message-about {
  margin: 2rem 0;
}

.about__image {
  flex: 0 1 60%;
  position: relative;
}
.about__image-image {
  display: inline-block;
  width: 75%;
  z-index: 100;
  margin-left: 5rem;
}
.about__image-background {
  position: absolute;
  top: 0rem;
  left: 0;
  height: 95%;
  width: 75%;
  background: var(--color-main);
  margin-top: 5rem;
  z-index: -1;
}

/* ////////////////////////////////////////////////////////// */
/* SERVICE */
.section-service {
  padding: 10rem 0;
  max-width: 1200px;
  width: 100vw;
  margin: 0 auto;
}
.text__h2-service {
  text-align: center;
  margin-bottom: 3rem;
}
.service-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.service {
  width: calc((90% - 6rem) / 3);
}
.service--animation {
  margin-top: 3rem;
}
.service--live {
  margin-top: 6rem;
}
.service__image {
  /* width: calc(90vw / 3); */
  width: 100%;
}

.service__h3 {
  display: inline-block;
  font-size: 1.8rem;
  border-bottom: 1px solid var(--color-black);
  margin-top: 1.5rem;
}
.service__paragraph {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.4rem;
}


/* ////////////////////////////////////////////////////////// */
/* WORKS */
.section-works {
  background: var(--color-black);
  padding: 3rem 0;
  color: white;
  padding-bottom: 8rem;
}
.works-content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.text__h2-works {
  margin: 3rem 0 3rem 0;
}
.works-container {
  display: flex;
}

.works-left {
  flex: 0 1 60%;
  margin-right: 2rem;
}
.works-left__image {
  width: 100%;
}
.work-left__text-box {
  width: 70%;
}
.work__tag-box {
  display: flex;
}
.work__tag {
  display: inline-block;
  font-size: 1.4rem;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  margin-right: 1rem;
}
.works-left__h3 {
  font-size: 3.5rem;
  font-weight: 700;
}
.works-left__paragraph {
  font-size: 1.4rem;
  margin: 1rem 0;
}


.works-right {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work-right-box {
  display: flex;
  margin-bottom: 2rem;
}
.work-right__image {
  width: 45%;
}
.work-right__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.works-right__h3 {
  margin-bottom: .5rem;
}
.button--main-works-box {
  margin: 0 auto;
}


/* ////////////////////////////////////////////////////////// */
/* NEWS */
.section-news {
  padding: 5rem 0;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.text__h2-news {
  text-align: center;
}
.news-container {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}
.news-content {
  border: 2rem solid var(--color-main);
  display: flex;
  /* width: 48%; */
}
.news-content:not(:last-child) {
  margin-right: 2rem;
}
.news-image {
  width: 45%;
}
.news__text-container {
  /* padding: 2rem 1.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: .5rem;
}
.news__date {
  font-size: 1.6rem;
}
.news__text {
  font-size: 1.4rem;
  /* padding: 2rem 0; */
}
.button--main-news-box {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* ////////////////////////////////////////////////////////// */
/* CONTACT */
.section-contact {
  width: 100%;
  border: 6rem solid var(--color-main);
  padding: 3rem;
}
.text__h2-contact {
  text-align: center;
}
.paragraph-message-contact {
  text-align: center;
  padding-top: 3rem;
}

/* ////////////////////////////////////////////////////////// */
/* FOOTER */
.footer {
  background: var(--color-main);
  width: 100%;
}
.footer__logo-box {
  display: flex;
  justify-content: center;
}

.footer__sns {
  display: flex;
  justify-content: center;
}
.footer__sns-box {
  position: relative;
  display: inline-block;
  height: 5rem;
  width: 5rem;
  background: white;
  border-radius: 50%;
  margin: 3rem 1.5rem;
}
.footer__sns--logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__navigation {
  background: var(--color-main);
}
.footer__nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer__nav-item {
  margin: 0rem 2rem 3rem 2rem;
}
.footer__nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-black);
  text-transform: uppercase;
}
.footer__nav-link:hover {
  font-weight: 900;
}

.copy-right {
  height: 5rem;
  background: var(--color-main);
  color: white;
  text-align: right;
  padding-right: 6rem;
  font-size: 1.4rem;
}

/* ////////////////////////////////////////////////////////// */
/* MEDIA */
@media screen and (max-width: 56.25rem) {
  html {
    /* 1rem = 9px */
    font-size: 56.25%;
  }
  .paragraph-message {
    line-height: 2;
  }
  .text__h2 {
    font-size: 3.3rem;
  }
  .works-left__h3 {
    font-size: 3rem;
  }
  .work-left__text-box {
    width: 85%;
  }
  .news__text {
    font-size: 1.2rem;
  }

}
@media screen and (max-width: 37.5rem) {
  .navigation {
    height: 8rem;
  }
  .header__button {
    top: 3rem;
  }
  .header__humburger {
    width: 3.7rem;
    height: 1.5px;
  }
  .header__humburger::before {
    width: 4.2rem;
    top: -1rem;
    height: 1.5px;
  }
  .header__humburger::after {
    width: 3.4rem;
    top: 1rem;
    height: 1.5px;
  }
  .header__checkbox:checked + .header__button .header__humburger-box .header__humburger::after{
    width: 4.2rem;
  }
  .header__text {
    display: none;
  }
  .hero {
    background-image: url(../img/mv_bg--sp.jpg);
    background-position: top;
    height: 80vh;
  }
  .text-box {
    width: 80%;
  }
  .text__h1--main {
    line-height: 1.2;
    padding-bottom: 2rem;
  }
  .paragraph-message {
    line-height: 3;
  }

  .section-about {
    display: block;
  }
  .about__text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 5rem 0;
  }
  .about__image {
    width: 100%;
    margin: 0 auto;
  }
  .about__image-image {
    margin-left: 8rem;
  }
  .about__image-background {
    margin-left: 4rem;
  }
  .service-container {
    flex-wrap: wrap;
  }
  .service {
    width: 80%;
  }
  .service {
    font-size: 2rem;
  }

  .works-container {
    display: block;
  }
  .work-left__text-box {
    width: 100%;
  }
  .works-left__h3 {
    font-size: 2.5rem;
  }
  .works-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .work-right-box {
    display: block;
    flex: 0 1 45%;
  }
  .work-right__image {
    width: 90%;
    margin-bottom: 1rem;
  }
  .button--main-works-box {
    padding-top: 2rem;
  }
  .news-container {
    display: block;
  }
  .news-content:not(:last-child) {
    margin: 2rem 0;
  }
  .news-content {
    display: block;
  }
  .news-image {
    width: 100%;
  }
  .news__text-container {
    padding: 3rem;
  }
  .news__text {
    font-size: 1.6rem;
    padding: 1rem 0;
  }

  .section-contact {
    border-right: 3rem solid var(--color-main);
    border-left: 3rem solid var(--color-main);
  }

  .footer__logo {
    width: 25%;
  }
  .footer__navigation {
    display: none;
  }
  .copy-right {
    text-align: center;
    padding-right: 0;
  }
}
